[SddmGreeterTheme]
Name=SkillFishOs Brass
Description=SkillFishOs steampunk login theme
Author=SkillFishOs
Copyright=
License=GPL
Type=sddm-theme
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=skillfish-brass
Theme-API=2.0
QtVersion=6
