[Desktop Entry]
Type=Application
Name=SkillFishOS Hub
GenericName=Software Center
Comment=Install and update SkillFishOS software from our repository
Comment[it]=Installa e aggiorna il software SkillFishOS dal nostro repository
Exec=/usr/local/bin/skillfish-hub
Icon=skillfishos
Terminal=false
Categories=System;PackageManager;X-SkillFishOS;
Keywords=software;store;updates;packages;skillfish;hub;
StartupNotify=true
X-KDE-StartupNotify=true
