[Desktop Entry]
Type=Application
Name=SkillFishOS Tuner
GenericName=Controllo prestazioni
Comment=Regola CPU, GPU, VRAM e ventola
Exec=skillfish-tuner
Icon=/usr/share/icons/hicolor/256x256/apps/skillfish-tuner.png
Terminal=false
Categories=System;
Keywords=overclock;cpu;gpu;vram;ventola;fan;tuning;prestazioni;
StartupNotify=true
StartupWMClass=os.skillfish.Tuner
