[Desktop Entry]
Type=Application
MimeType=application/x-cd-image;application/x-udf-image;application/x-iso9660-image;application/vnd.efi.iso;
Actions=skfMount;skfUnmount;
X-KDE-Priority=TopLevel

[Desktop Action skfMount]
Name=Monta immagine ISO
Icon=media-optical
Exec=/usr/local/bin/skillfish-iso-mount %f

[Desktop Action skfUnmount]
Name=Smonta immagine ISO
Icon=media-eject
Exec=/usr/local/bin/skillfish-iso-mount -u %f
