
[Unit]
Description=AMD BC-250 CPU Overclock

[Service]
ExecStart=/usr/bin/python3 /opt/bc250_smu_oc/bc250_apply.py --apply /etc/bc250-smu-oc.conf
Restart=no

[Install]
WantedBy=multi-user.target
